a.fancylink {
  text-decoration: none;
  color: var(--accent);
  border-bottom: 1px dotted var(--accent);
  padding: 1px 0px;
  margin: 0 -3px 0 2px;
  display: inline-block;
  
  &:hover {
    background: color-mod(var(--accent) alpha(30%));
  }

  &::after {
    content: ''
  }
}