<footer class="footer">
  <div class="footer__inner">
      <div class="copyright">
        <span><a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons Licence" style="border-width:0; float: left; margin-top: 5px;" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png"/></a>&nbsp;
          :: <a href="mailto:kareemdaggash@gmail.com">contact</a> <a href="http://twitter.com/kareemdagg">Kareem Daggash</a>
          </span>
      </div>
  </div>
</footer>

{{ $js := resources.Get "js/main.js" | js.Build }}
{{ $js := resources.Get "js/prism.js" | js.Build }}
{{ $opts := dict "noComments" true "minified" true "compact" true }}
{{ $menu := resources.Get "js/menu.js" | js.Build | babel $opts }}
{{ $prism := resources.Get "js/prism.js" | js.Build | babel $opts }}
<script src="{{ $menu.Permalink }}"></script>
<script src="{{ $prism.Permalink }}"></script>

<!-- Extended footer section-->
{{ partial "extended_footer.html" . }}
